In [1]:
#koneksi
import mysql.connector

#conec dari server
conn = mysql.connector.connect(host = "localhost", user = "root", password = "")

print(conn)

#disconec dr server
conn.close()

<mysql.connector.connection.MySQLConnection object at 0x00000230B70EBAF0>

In [8]:
#create database
import mysql.connector

dataBase=mysql.connector.connect(host = "localhost", user = "root", password = "")

#prepar obj
cursorObj=dataBase.cursor()

#create db
cursorObj.execute("CREATE DATABASE D3_TI_2023")
print('Openned database successfully')

Openned database successfully

In [9]:
#Tabel mahasiswa
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
mhsRecord = """CREATE TABLE tabel_mahasiswa(NIM VARCHAR(10)NOT NULL PRIMARY KEY, NAMA VARCHAR(30) NOT NULL, 
                ALAMAT VARCHAR(255), MATKUL_YANG_DIIKUTI VARCHAR(10) NOT NULL)"""

#table create
cursorObj.execute(mhsRecord)

#disconec
dataBase.close()
print('Table berhasil dibuat')

Table berhasil dibuat

In [10]:
#Tabel dosen
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
dosenRecord = """CREATE TABLE tabel_dosen(NIP VARCHAR(20)NOT NULL PRIMARY KEY, NAMA VARCHAR(50) NOT NULL, 
                MATKUL_YG_DIAJAR VARCHAR(50) NOT NULL)"""

#table create
cursorObj.execute(dosenRecord)

#disconec
dataBase.close()
print('Table berhasil dibuat')

Table berhasil dibuat

In [11]:
#Tabel mata kuliah
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
mkRecord = """CREATE TABLE tabel_matkul(kode_MK VARCHAR(10)NOT NULL PRIMARY KEY, nama_MK VARCHAR(50) NOT NULL, 
                WAKTU DATE, RUANG VARCHAR(10))"""

#table create
cursorObj.execute(mkRecord)

#disconec
dataBase.close()
print('Table berhasil dibuat')

Table berhasil dibuat

In [12]:
#insert data mahasiswa
import mysql.connector

dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()

sql="INSERT INTO tabel_mahasiswa(NIM, NAMA, ALAMAT, MATKUL_YANG_DIIKUTI) VALUES(%s,%s,%s,%s)"
val = [ ('111111', 'Diah', 'Jl. Kenangan No.1', 'IF101'),
('222222', 'Munica', 'Jl. Bahagia No.2', 'IF102'),
('333333', 'Nina', 'Jl. Damai No.3', 'IF103'),
('444444', 'Tia', 'Jl. Jaya No.4', 'IF104'),
('555555', 'Rara', 'Jl. Indah No.5', 'IF105') ]

cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()
print('Data berhasil dimasukkan')

Data berhasil dimasukkan

In [15]:
#insert data dosen
import mysql.connector

dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()

sql="INSERT INTO tabel_dosen(NIP, NAMA, MATKUL_YG_DIAJAR) VALUES(%s,%s,%s)"
val = [ ('123456', 'Dr. Arief', 'IF101'),
('234567', 'Dr. Budi', 'IF102'),
('345678', 'Dr. Candra', 'IF103'),
('456789', 'Dr. Dedi', 'IF104'),
('567890', 'Dr. Eka', 'IF105') ]

cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()
print('Data berhasil dimasukkan')

Data berhasil dimasukkan

In [16]:
#insert data matkul
import mysql.connector


dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()


sql="INSERT INTO tabel_matkul(kode_MK, nama_MK, WAKTU, RUANG) VALUES(%s,%s,%s,%s)"
val = [ ('IF101', 'Pemrograman Python', '2023-02-01', 'A101'),
('IF102', 'Matematika Informatika', '2023-02-02', 'A102'),
('IF103', 'Basis Data', '2023-02-03', 'A103'),
('IF104', 'Pemrograman Berorientasi Objek', '2023-02-04', 'A104'),
('IF105', 'Wireless Communication', '2023-02-05', 'A105') ]


cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()
print('Data berhasil dimasukkan')

Data berhasil dimasukkan

In [23]:
import mysql.connector

dataBase = mysql.connector.connect(host="localhost", user="root", password="", database="D3_TI_2023")

cursorObj = dataBase.cursor()

query = """SELECT tabel_mahasiswa.NIM, tabel_mahasiswa.NAMA, tabel_matkul.nama_MK, tabel_dosen.NAMA
           FROM tabel_mahasiswa
           INNER JOIN tabel_matkul ON tabel_mahasiswa.MATKUL_YANG_DIIKUTI = tabel_matkul.kode_MK
           INNER JOIN tabel_dosen ON tabel_matkul.nama_MK = tabel_dosen.MATKUL_YG_DIAJAR
           WHERE tabel_matkul.kode_MK = %s"""

# Mengganti nilai %s pada query dengan kode mata kuliah yang ingin ditampilkan
kode_mk = "MK001"
cursorObj.execute(query, (kode_mk,))

result = cursorObj.fetchall()

# Menampilkan hasil query
for row in result:
    print(f"NIM: {row[0]}\nNama: {row[1]}\nMata Kuliah: {row[2]}\nDosen: {row[3]}\n")

# Menutup koneksi database
dataBase.close()